/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.margin-8 {
	-fx-padding: 8px; 
	-fx-border-insets: 8px; 
	-fx-background-insets: 8px;
	-fx-border-color: black;
}

.margin-8-no-border {
	-fx-padding: 8px; 
	-fx-border-insets: 8px; 
	-fx-background-insets: 8px;
}

.button {
    -fx-pref-width: 150px;
}